.megaMenu
{.btn-secondary 
{
background-color: rgb(230, 237, 240) !important;
border: none !important;
color:black !important;
&:focus{
   outline: none !important;
   box-shadow: none !important;
}
}

}
.dropmenu{
    .btn-secondary 
{
    background-color: white !important;
    border-bottom:1px solid whitesmoke !important;
    border-radius: 5px;
}
.dropdown-button-drop
{
    margin-top:10px;
}
.dropdown-item {
   
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
}
.dropdown-toggle::after {
    margin-left: 40px !important;
    vertical-align: 0;
}
}