.bg-clr {
	border: solid 1px var(--blue-green);
	background-color: rgba(20, 107, 72, 0.03);
}
.chapter-heading {
	
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
}
.box
{
	width: 10px;
	height: 10px;
	background-color: yellow;
}
