.divoverflow {
	width: 100%;
	overflow-x: hidden;
}
.logo-Section {
	b {
		font-size: 30px;
	}
}
.carousel-align {
	height: 667px;
}
.btn-primaryOtp {
	background-color: rgba(0, 0, 0, 0.87);
	border-radius: 5px;
	text-align: center;
}
a {
	color: rgba(0, 0, 0, 0.87);
}
.resendAlign {
	line-height: 50px !important;
	text-align: center;
}
.OTPAlign{
	margin-left:70px;
	margin-right:70px;
	font-size:10px;
	text-align:center;
}
@media only screen and (max-width: 600px) {
	.btn-primaryOtp {
		background-color: rgba(0, 0, 0, 0.87);
		border-radius: 5px;
		text-align: center;
		margin-left: 18px;
	}
	.resendAlign {
		line-height: 50px !important;
		text-align: center;
	}
}
