@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
.web-font-styling {
  font-family: "Open Sans", sans-serif;
}

.bg-black {
  background-color: #212121;
}
.bg-blue {
  background-color: #146b48;
  opacity: 4%;
}

.text-white {
  color: white;
}
.text-black {
  color: black;
}
.bg-green {
  background-color: #146b48;
}
