
// body {
// 	overflow-x: hidden;
// 	font-family: "Open Sans", sans-serif;
// }
.web-font-styling {
	font-family: "Open Sans", sans-serif;
}
.clr {
	background-color: white !important;
	color: #000000 !important;
}
.nav-tabs {
	.nav-link {
		color: black !important;
	}
}
.nav-link {
	&:focus {
		background-color: rgba(20, 107, 72, 0.1) !important;
	}
}
.bg-green {
	background-color: #146b48;
}
