
body {
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif !important;
}
.web-font-styling {
	font-family: "Open Sans", sans-serif !important;
}
.bg-black {
	background-color: #212121;
}
.bg-blue {
	background-color: #146b48;
	opacity: 4%;
}
.text-white {
	color: white;
}
.text-black {
	color: black;
}
.center {
	text-align: center;
}
.btn-center {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 20px;
}
